/* Universal reset for margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
p {
  margin-bottom: 20px; /* Adds 20px space between paragraphs */
}

h1, h2, h3, h4 {
  margin-bottom: 15px; /* Adjust space between headings */
}

header {
  background-color: #2A0134;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

/* Padding added to ensure content is not hidden by fixed header */
.page-wrap {
  padding-top: 60px; /* Adjust based on your header height */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2A0134;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.active {
  background-color: #000000;
}

footer {
  background-color: #2A0134;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.site-footer {
  background-color: #000;
}

.site-footer p {
  text-align: center;
  color: #FFFFFF;
  padding-top: 2%;
}

