header {
  background-color: #2A0134;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2A0134;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

.active {
  background-color: #000000;
}

#progress-display {
  margin-top: 20px;
}

#progress-value {
  font-weight: bold;
  color: #008CBA;
}

.lesson {
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
}

html, body {
  height: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

footer {
  background-color: #2A0134;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -80px; /* equal to footer height */
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 80px;
}

.site-footer {
  background: #000000;
}

.site-footer p {
  text-align: center;
  color: #FFFFFF; /* Corrected property */
  padding-top: 2%;
}


